@import "tailwindcss";

@theme {
  --color-council: #1E3A5F;
  --color-council-dark: #152C4A;
  --color-council-light: #dce4ed;
  --color-council-50: #edf1f6;
  --color-council-100: #d0dae6;
  --color-council-200: #a3b6ce;
  --color-council-700: #152C4A;
  --color-council-800: #0F2038;
  --color-accent: #F0AB00;
  --color-accent-dark: #D99B00;
  --color-navy: #1E3A5F;
  --color-link: #117B8C;
}
